<!--The content below is only a placeholder and can be replaced.-->
<section class="movieListsapp">
  <header class="header">
    <h1>MovieLists</h1>
    <input class="new-movieList" placeholder="Make a new movie list" autofocus="" [(ngModel)]="newMovieList.title" (keyup.enter)="addMovieList()">
  </header>
  <section class="main" *ngIf="movieLists.length > 0">
    <ul class="movie-list">
      <li *ngFor="let movieList of movieLists">
        <div class="view">
          <h1>{{movieList.title}}</h1>
          <ul class= 'movies' *ngIf = 'movieList.movies.length > 0'>
            <li *ngFor= 'let movie of movieList.movies'>
              <p>
                {{movie.name}}
              </p>
              <input class= "toggle" type = "checkbox" (click) ="toggleWatched(movieList)" [checked]="movie.watched">
              <button class= "destroy" (click)="removeMovie(movieList, movie)">Delete</button> 
            </li>
          </ul>
          <input class='new-movie' placeholder="Add a movie" autofocus="" [(ngModel)]= "newMovie.name" (keyup.enter)= "addMovie(movieList)">
          <button class="destroy" (click)="removeMovieList(movieList)">Delete</button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="movieLists.length > 0">
    <span class="movieLists-count"><strong>{{movieLists.length}}</strong> {{movieLists.length == 1 ? 'list' : 'lists'}} Created</span>
  </footer>
</section>